# BlahBlah

In [1]:
print('Hello World')

Hello World

In [2]:
i = 666

In [3]:
type(i)

int

In [4]:
i = 'hallo'

In [5]:
type(i)

str

In [6]:
i.find('l')

2

In [7]:
def f(a):
    return a**2

In [8]:
type(f)

function

In [9]:
f(6)

36

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
code_str = '''
for i in range(5):
    print(i)
'''

In [12]:
type(code_str)

str

In [13]:
exec(code_str)

0
1
2
3
4

In [14]:
i

4

In [15]:
code_str = '''
import random
rnd = random.randrange(6)
'''

In [16]:
context = {}
exec(code_str, context)

In [17]:
context['rnd']

1

# Strings und Quotes

In [18]:
s = 'abc'

In [19]:
print(s)

abc

In [20]:
s = "abc"

In [21]:
s

'abc'

In [22]:
print(s)

abc

In [23]:
s = 'Hallo, du "Suesser"'
print(s)

Hallo, du "Suesser"

In [24]:
s = "Hallo, du 'Suesser'"
print(s)

Hallo, du 'Suesser'

In [25]:
s = 'Hallo, du "Suesser" \'du\''
print(s)

Hallo, du "Suesser" 'du'

# Comments vs. Docstrings

In [26]:
# <doc>
# dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,
# um die beiden paramete a und b zu addieren.
# die summe ist dann auch der wert des funktionsaufrufs 
# </doc>
def add(a,b):
    return a+b

In [27]:
s = add(2, 5)
s

7

In [28]:
def add(a,b):
    '''
    dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,
    um die beiden paramete a und b zu addieren.
    die summe ist dann auch der wert des funktionsaufrufs 
    '''
    return a+b

In [29]:
add.__doc__

'\n    dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,\n    um die beiden paramete a und b zu addieren.\n    die summe ist dann auch der wert des funktionsaufrufs \n    '

In [30]:
help(add)

Help on function add in module __main__:

add(a, b)
    dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,
    um die beiden paramete a und b zu addieren.
    die summe ist dann auch der wert des funktionsaufrufs

# Variables and Types

In [31]:
a = 1.5
type(a)

float

## Assignment Fun

In [32]:
a = 1
b = 2

In [33]:
print(a, b, sep=',')

1,2

In [34]:
a, b = 1, 2

### Swap

In [35]:
tmp = a
a = b
b = tmp

In [36]:
print(a, b, sep=',')

2,1

In [37]:
a, b = 1, 2

In [38]:
a, b = b, a

In [39]:
print(a, b, sep=',')

2,1

### Assignment Details

In [40]:
a = 42
id(a)

139737281662544

In [41]:
b = a
id(b)

139737281662544

In [42]:
a is b

True

In [43]:
b += 1

In [44]:
b

43

In [45]:
a

42

In [46]:
a = 5

In [47]:
b

43

In [48]:
a = 42
b = 42

In [49]:
id(a)

139737281662544

In [50]:
id(b)

139737281662544

# Datatypes


## Boolean

In [51]:
1.5 < 42

True

In [52]:
type(1.5 < 42)

bool

In [53]:
if 42:
    print('jo eh')

jo eh

In [54]:
if 0:
    print('jo eh')
else:
    print('na wirklich net')

na wirklich net

In [55]:
a = 1.5 < 42
a

True

In [56]:
a = 1.5 > 42
a

False

## Integers

In [57]:
i = 1

In [58]:
i

1

In [59]:
i = 1 * 2**0 
i

1

In [60]:
1 * 2**1 + 1 * 2**0

3

In [61]:
0b11

3

In [62]:
0b100

4

In [63]:
1 * 2**2 + 0 * 2**1 + 0 * 2**0

4

In [64]:
0x10

16

In [65]:
1 * 16**1 + 0 * 16**0

16

In [66]:
0o10

8

In [67]:
1 == 2

False

In [68]:
1 != 2

True

In [69]:
3/2

1.5

In [70]:
3//2

1

In [71]:
5%2

1

In [72]:
11%3

2

In [73]:
if 10%5 == 0:
    print('10 ist durch 5 teilbar')

10 ist durch 5 teilbar

### Integers are Infinitely long

In [74]:
i = 2**64 - 1

In [75]:
i

18446744073709551615

In [76]:
i += 1

In [77]:
i

18446744073709551616

In [78]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

## Operator Precedence

In [79]:
2*10%3

2

In [80]:
(2*10)%3

2

In [81]:
2*(10%3)

2

In [82]:
2*11%3

1

In [83]:
(2*11)%3

1

In [84]:
2*(11%3)

4

## Floating Point Comparison

In [85]:
a = 2/3
b = 4/6

In [86]:
a == b  # ERROR!

True

In [87]:
abs(a-b) < 0.00001

True

## Datatype Conversions

In [88]:
s = '666'
i = 666

In [89]:
i == s

False

In [90]:
type(i) == type(s)

False

In [91]:
i == int(s)

True

In [92]:
int(s)

666

In [93]:
try:
    int('abc')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'abc'

In [94]:
int('abc', 16)

2748

In [95]:
float('1.234')

1.234

In [96]:
i

666

In [97]:
bool(i)

True

In [98]:
bool(0)

False

In [99]:
if i == 0:
    print('falsch')

In [100]:
if i:
    print('true')

true

In [101]:
type('abc')

str

In [102]:
i = 666
s = str(i)
print(s)

666

In [103]:
int(666)

666

In [104]:
int(666.666)

666

In [105]:
float(666)

666.0

# Compound Datatypes

## List

In [106]:
l = [1,2,3,4]

In [107]:
len(l)

4

In [108]:
len('abc')

3

In [109]:
l.append(5)

In [110]:
l

[1, 2, 3, 4, 5]

In [111]:
l = [1.9, 'drei', 'hansi']

In [112]:
l.extend([1, 'one'])

In [113]:
l

[1.9, 'drei', 'hansi', 1, 'one']

In [114]:
l.extend('abc')

In [115]:
l

[1.9, 'drei', 'hansi', 1, 'one', 'a', 'b', 'c']

In [116]:
try:
    l.extend(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [117]:
l1 = [1,2,3]
l2 = [2,3,4]
l1 < l2

True

In [118]:
l1 = [1,2,3]
l2 = [1,2,4]
l1 < l2

True

In [119]:
s1 = 'abc'
s2 = 'abd'
s1 < s2

True

## Mutability/Immutability

In [120]:
l1 = [1,2,3,4]
l2 = l1

In [121]:
l1 is l2

True

In [122]:
id(l1) == id(l2)

True

In [123]:
l1.append(5)

In [124]:
l1

[1, 2, 3, 4, 5]

In [125]:
l2

[1, 2, 3, 4, 5]

In [126]:
i1 = 666
i2 = i1
i1 is i2

True

In [127]:
i1 += 1

In [128]:
i1

667

In [129]:
i2

666

In [130]:
id(i2)

139736911252368

In [131]:
id(i1)

139736911252048

In [132]:
l1 is l2

True

In [133]:
l1

[1, 2, 3, 4, 5]

In [134]:
l2

[1, 2, 3, 4, 5]

In [135]:
l1 = [1,2,3,4]
l2 = l1[:]

In [136]:
l1.append(5)
l1

[1, 2, 3, 4, 5]

In [137]:
l2

[1, 2, 3, 4]

In [138]:
l1 = [1, 2, ['a', 'b'], 3, 4]
l2 = l1[:]

In [139]:
l1.append(5)

In [140]:
l1

[1, 2, ['a', 'b'], 3, 4, 5]

In [141]:
l2

[1, 2, ['a', 'b'], 3, 4]

In [142]:
l2[2].append('c')

In [143]:
l2

[1, 2, ['a', 'b', 'c'], 3, 4]

In [144]:
l1

[1, 2, ['a', 'b', 'c'], 3, 4, 5]

## Tuple

In [145]:
t = (1,2,3,4)

In [146]:
for element in t:
    print(element)

1
2
3
4

In [147]:
try:
    t.append(5)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

Liste mit einem Element:

In [148]:
l = [1]

In [149]:
type(l)

list

In [150]:
l

[1]

Tuple mit einem Element?

In [151]:
t = (1)

In [152]:
type(t)

int

In [153]:
3*(4%2)

0

In [154]:
t = (1,)

In [155]:
type(t)

tuple

## ``in`` Operator

In [156]:
l = [4,1,8,2,44,0]

In [157]:
5 in l

False

In [158]:
5 not in l

True

In [159]:
4 in l

True

## Dictionary

In [160]:
people = {
    '1037190666': ('Joerg', 'Faschingbauer', '19.6.1966'),
    '1234250497': ('Caro', 'Faschingbauer', '25.4.1997'),
}

In [161]:
people['1037190666']

('Joerg', 'Faschingbauer', '19.6.1966')

In [162]:
try:
    people['2345010101']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> '2345010101'

In [163]:
people['2345010101'] = ('Elizabeth', 'Queen', '1.1.1901')

In [164]:
people['2345010101']

('Elizabeth', 'Queen', '1.1.1901')

In [165]:
del people['2345010101']

In [166]:
'2345010101' in people

False

## Set

In [167]:
s = {'Joerg', 'Caro', 'Johanna', 'Philipp'}

In [168]:
'Joerg' in s

True

In [169]:
s.add('Evi')

In [170]:
'Evi' in s

True

In [171]:
s.remove('Joerg')