# Tuple Unpacking

In [2]:
l = ['joerg', 'flo', 'ted', 'rainer']
for element in l:
    print(element)

joerg
flo
ted
rainer

In [3]:
d = {
    'joerg': 54,
    'ted': 56,
    'rainer': 55,
}

In [5]:
for element in d:
    print(element)

joerg
ted
rainer

In [8]:
for key in d.keys():
    print(element)

rainer
rainer
rainer

In [10]:
for value in d.values():
    print(value)

54
56
55

In [12]:
for element in d.items():
    print(element)

('joerg', 54)
('ted', 56)
('rainer', 55)

In [16]:
for element in d.items():
    key = element[0]
    value = element[1]
    print(f'key: {key}, value: {value}')

key: joerg, value: 54
key: ted, value: 56
key: rainer, value: 55

In [19]:
for key, value in d.items():
    print(f'key: {key}, value: {value}')

key: joerg, value: 54
key: ted, value: 56
key: rainer, value: 55

In [22]:
t = ('joerg', 54)
name, age = t
print(f'name: {name}, age: {age}')

name: joerg, age: 54

In [27]:
a = 1
b = 2
a, b

(1, 2)

In [28]:
b, a = a, b

In [30]:
a, b

(2, 1)

# String Methods

In [31]:
s = 'joerg'

In [33]:
s.capitalize()

'Joerg'

In [35]:
s

'joerg'

In [37]:
s.upper()

'JOERG'

In [39]:
s.upper().lower()

'joerg'

In [41]:
s.center(60)

'                           joerg                            '

In [43]:
s.find('rg')

3

In [45]:
s.find('xxx')

-1

In [1]:
l = ['joerg', 'faschingbauer']
'.'.join(l)

'joerg.faschingbauer'

# Strings vs. Bytes

In [4]:
s = 'JÃ¶rg'
b = b'Joerg'

In [8]:
try:
    s + b
except Exception as e:
    print(type(e), e)

<class 'TypeError'> can only concatenate str (not "bytes") to str

In [10]:
s == b

False

In [11]:
7 == '7'

False