# 2021-11-17

## Variables

In [1]:
a = 42
type(a)

int

In [2]:
a = 1.7
type(a)

float

In [3]:
a = [1, 2, 'drei']
type(a)

list

In [4]:
_a = 666
_123 = 1

In [5]:
a = a

In [6]:
a = 1
b = 2
c = 3

In [7]:
print(a, b, c)

1 2 3

In [8]:
a, b, c = 1, 2, 3

In [9]:
print(a, b, c)

1 2 3

In [10]:
print(a, b, c, sep=',')

1,2,3

### Enter Tuples

In [11]:
a, b, c

(1, 2, 3)

In [12]:
t = a, b, c

In [13]:
t

(1, 2, 3)

In [14]:
type(t)

tuple

In [15]:
a, b

(1, 2)

Exchange values of a and b, the traditional way

In [16]:
c = a
a = b
b = c
a, b

(2, 1)

Exchange values, Pythonic

In [17]:
a = 1
b = 2

In [18]:
a, b = b, a

In [19]:
a, b

(2, 1)

Name of this: **Tuple Unpacking**

### References

In [20]:
a = 42
b = a

In [21]:
b

42

In [22]:
id(a)

139902281645648

In [23]:
id(b)

139902281645648

In [24]:
b = 7
id(b)

139902281644528

## Compound Datatypes

### List

In [44]:
l = [1, 2, 3]
l

[1, 2, 3]

In [45]:
len(l)

3

In [26]:
l.append(4)

In [27]:
l

[1, 2, 3, 4]

In [28]:
l.extend([5, 6, 7])

In [29]:
l

[1, 2, 3, 4, 5, 6, 7]

**Attention**

In [30]:
l.append([8, 9, 10])  # appends only one element of type list!
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]

In [31]:
l.extend('abc')  # appends three elements of type str (one character each)
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c']

In [32]:
l.extend(range(4))
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c', 0, 1, 2, 3]

### Tuple

In [34]:
t = (1, 2, 3)

In [46]:
t

(1, 2, 3)

In [47]:
len(t)

3

In [36]:
try:
    t.append(4)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionary

In [48]:
map = {
    'eins': 1,
    'zwei': 2,
}
type(map)

dict

In [49]:
len(map)

2

In [39]:
map['eins']

1

In [40]:
map['drei'] = 3

In [41]:
map

{'eins': 1, 'zwei': 2, 'drei': 3}

In [42]:
map['zwei'] = 2.0

In [43]:
map

{'eins': 1, 'zwei': 2.0, 'drei': 3}

In [57]:
try:
    map['vier']
except KeyError as e:
    print(type(e), e)

<class 'KeyError'> 'vier'