# 2021-11-17

## Variables

In [1]:
a = 42
type(a)

int

In [2]:
a = 1.7
type(a)

float

In [3]:
a = [1, 2, 'drei']
type(a)

list

In [4]:
_a = 666
_123 = 1

In [5]:
a = a

In [6]:
a = 1
b = 2
c = 3

In [7]:
print(a, b, c)

1 2 3

In [8]:
a, b, c = 1, 2, 3

In [9]:
print(a, b, c)

1 2 3

In [10]:
print(a, b, c, sep=',')

1,2,3

### Enter Tuples

In [11]:
a, b, c

(1, 2, 3)

In [12]:
t = a, b, c

In [13]:
t

(1, 2, 3)

In [14]:
type(t)

tuple

In [15]:
a, b

(1, 2)

Exchange values of a and b, the traditional way

In [16]:
c = a
a = b
b = c
a, b

(2, 1)

Exchange values, Pythonic

In [17]:
a = 1
b = 2

In [18]:
a, b = b, a

In [19]:
a, b

(2, 1)

Name of this: **Tuple Unpacking**

### References

In [20]:
a = 42
b = a

In [21]:
b

42

In [22]:
id(a)

139902281645648

In [23]:
id(b)

139902281645648

In [24]:
b = 7
id(b)

139902281644528

## Compound Datatypes

### List

In [44]:
l = [1, 2, 3]
l

[1, 2, 3]

In [58]:
len(l)

3

Question: is something in the list?

In [142]:
2 in l

True

In [144]:
not 2 in l

False

In [145]:
2 not in l

False

In [61]:
100 in l

False

In [26]:
l.append(4)

In [27]:
l

[1, 2, 3, 4]

In [28]:
l.extend([5, 6, 7])

In [29]:
l

[1, 2, 3, 4, 5, 6, 7]

**Attention**

In [30]:
l.append([8, 9, 10])  # appends only one element of type list!
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]

In [31]:
l.extend('abc')  # appends three elements of type str (one character each)
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c']

In [32]:
l.extend(range(4))
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c', 0, 1, 2, 3]

### Tuple

In [34]:
t = (1, 2, 3)

In [46]:
t

(1, 2, 3)

In [47]:
len(t)

3

In [36]:
try:
    t.append(4)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionary

In [48]:
map = {
    'eins': 1,
    'zwei': 2,
}
type(map)

dict

In [62]:
len(map)

2

In [63]:
'zwei' in map

True

In [64]:
'drei' in map

False

In [39]:
map['eins']

1

In [40]:
map['drei'] = 3

In [41]:
map

{'eins': 1, 'zwei': 2, 'drei': 3}

In [42]:
map['zwei'] = 2.0

In [43]:
map

{'eins': 1, 'zwei': 2.0, 'drei': 3}

In [57]:
try:
    map['vier']
except KeyError as e:
    print(type(e), e)

<class 'KeyError'> 'vier'

### Set

In [66]:
s = {1, 2, 3}

In [68]:
len(s)

3

In [70]:
2 in s

True

In [71]:
s.add(100)

In [72]:
s

{1, 2, 3, 100}

In [74]:
s.add('/path/to/something')

In [75]:
s

{'/path/to/something', 1, 100, 2, 3}

In [77]:
{1, 2, 3} - {2, 3, 4}   # difference

{1}

Question: can I use a string as a set?

In [83]:
try:
    "abc" - "bcd"
except Exception as e:
    print(type(e), e)

<class 'TypeError'> unsupported operand type(s) for -: 'str' and 'str'

In [79]:
s = set("abc")
s

{'a', 'b', 'c'}

In [80]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [81]:
s = set([3, 1000, 'vier'])
s

{1000, 3, 'vier'}

In [84]:
3 in s

True

## Boolean

In [85]:
1 < 2

True

In [87]:
type(1<2)

bool

In [89]:
b = True

In [90]:
if 1:
    print('hm')

hm

In [92]:
if 100:
    print('hm')

hm

In [95]:
if 0:
    print('hm')

In [96]:
bool(0)

False

In [97]:
bool(100)

True

**Attention**: boolean values of compound types

In [99]:
s = {}
bool(s)

False

In [101]:
bool('')

False

In [103]:
bool('abc')

True

## NoneType

In [105]:
a = None
type(a)

NoneType

In [106]:
def f(s):
    if s:
        print('jo')
    else:
        print('na')

In [108]:
f({1, 2, 3})

jo

In [109]:
f({})

na

In [111]:
f(None)

na

In [113]:
def f(s):
    if s is None:
        print('na')
    else:
        print('ja')

In [115]:
f(None)

na

In [117]:
f({})

ja

### Short Circuit Evaluation of Boolean Expression

In [119]:
True or False

True

In [125]:
if 1 in {1, 2} or type('abc') is int:
    print('jo')

jo

In [122]:
False or True

True

In [123]:
True and False

False

In [124]:
False and True

False

In [127]:
if 1 in {1, 2} and type('abc') is int:
    print('jo')
else:
    print('na')

na

In [128]:
False or False

False

In [130]:
True and True

True

In [133]:
bool(print('hallo'))   # print has a boolean value

hallo

False

In [139]:
1 == 2 and print('hallo')    # note: we do not see 'hallo'

False

In [140]:
1 == 2 or print('hallo')

hallo

In [141]:
not True

False