# Python Basics (2023-05-15 - 2023-05-17)

In [1]:
code = '[1,2,3]'

In [2]:
type(code)

str

blah blah

In [3]:
eval(code)

[1, 2, 3]

## Syntax etc.

In [4]:
def add(a, b):
    'Complex algorithm to add two numbers'
    return a+b

In [5]:
print(type(add))

<class 'function'>

In [6]:
add.__doc__

'Complex algorithm to add two numbers'

In [7]:
help(add)

Help on function add in module __main__:

add(a, b)
    Complex algorithm to add two numbers

In [8]:
class Foo:
    'pointless class'

In [9]:
Foo.__doc__

'pointless class'

In [10]:
help(Foo)

Help on class Foo in module __main__:

class Foo(builtins.object)
 |  pointless class
 |
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

Was ist das mit ``__``?

In [11]:
class Bar:
    def __init__(self, param):
        self.member = param

In [12]:
b = Bar(42)

In [13]:
class Bar:
    def __init__(self, param):
        self.member = param
    def doSomething(self):
        return self.member**2

In [14]:
b = Bar(42)
b.doSomething()

1764

In [15]:
print(b)

<__main__.Bar object at 0x7fe193982500>

In [16]:
class Bar:
    def __init__(self, param):
        self.member = param
    def doSomething(self):
        return self.member**2
    def __str__(self):
        return f'Ein nettes sinnloses Objekt mit dem Wert {self.member}'

In [17]:
b = Bar(42)

In [18]:
print(b)

Ein nettes sinnloses Objekt mit dem Wert 42

## Variables

In [19]:
a = 42

In [20]:
print(type(a))

<class 'int'>

In [21]:
a = 1.5

In [22]:
print(type(a))

<class 'float'>

In [23]:
a = 'blah'

In [24]:
print(type(a))

<class 'str'>

In [25]:
a = [1,2,3]
print(type(a))

<class 'list'>

**Tuple unpacking**

In [26]:
a = 1
b = 2

In [27]:
a

1

In [28]:
b

2

In [29]:
a, b = 1, 2

In [30]:
x = 1, 2

In [31]:
print(type(x))

<class 'tuple'>

In [32]:
x

(1, 2)

In [33]:
try:
    a, b, c = 1, 2
except Exception as e:
    print(e, type(e))

not enough values to unpack (expected 3, got 2) <class 'ValueError'>

In [34]:
print('hier bin ich')

hier bin ich

In [35]:
a, b

(1, 2)

In [36]:
tmp = a
a = b
b = tmp

In [37]:
a, b

(2, 1)

In [38]:
a, b = b, a

In [39]:
a, b

(1, 2)

**Object Identity**

In [40]:
a = 42

In [41]:
id(a)

140606903256592

In [42]:
b = a

In [43]:
id(b)

140606903256592

In [44]:
b = 7

In [45]:
id(b)

140606903255472

In [46]:
id(a)

140606903256592

## Datatypes

In [47]:
i = 42

In [48]:
i = -42

In [49]:
i

-42

In [50]:
i = 0o644

In [51]:
i

420

In [52]:
i = 0xdeadbeef

In [53]:
i

3735928559

In [54]:
i = 0b01110101

In [55]:
i

117

In [56]:
i = 2**64-1

In [57]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [58]:
len(bin(i))

66

In [59]:
i += 1

In [60]:
i

18446744073709551616

In [61]:
len(bin(i))

67

In [62]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [63]:
3/2

1.5

In [64]:
3//2

1

In [65]:
l1 = [1,2,3]
l2 = [2,3,4]
try:
    l1*l2
except Exception as e:
    print(e, type(e))

can't multiply sequence by non-int of type 'list' <class 'TypeError'>

In [66]:
l1 + l2

[1, 2, 3, 2, 3, 4]

### Datatype Conversions

In [67]:
i = 42

In [68]:
s = str(i)

In [69]:
s

'42'

In [70]:
i.__str__()

'42'

In [71]:
i.__float__()

42.0

In [72]:
f = float(i)

In [73]:
f

42.0

In [74]:
int(f)

42

In [75]:
f.__int__()

42

In [76]:
s = '42'

In [77]:
int(s)

42

In [78]:
int(s, 16)

66

In [79]:
s = '0xdeadbeef'

In [80]:
try:
    int(s)
except Exception as e:
    print(e, type(e))

invalid literal for int() with base 10: '0xdeadbeef' <class 'ValueError'>

In [81]:
int(s, 16)

3735928559

In [82]:
1 + 2.3

3.3

In [83]:
try:
    '1' + 2
except Exception as e:
    print(e, type(e))

can only concatenate str (not "int") to str <class 'TypeError'>

In [84]:
try:
    '1'.__add__(2)
except Exception as e:
    print(e, type(e))

can only concatenate str (not "int") to str <class 'TypeError'>

Difference between ctor and ``eval()``?

In [85]:
int('42')

42

In [86]:
eval('42')

42

In [87]:
s = '[1,2,3]'

In [88]:
list(s)

['[', '1', ',', '2', ',', '3', ']']

In [89]:
eval(s)

[1, 2, 3]

In [90]:
code = '''
i = 0
while i<42:
    i+=1
print(i)
'''

In [91]:
type(code)

str

In [92]:
exec(code)

42

In [93]:
config = '''
SETTING_BLAH = 42
SETTING_FOO = 'jo oida'
'''

In [94]:
config_context = {}

In [95]:
exec(config, config_context)

In [96]:
config_context['SETTING_BLAH']

42

### Immutable vs. Mutable

In [97]:
def foo(a):
    print(id(a))

In [98]:
x = 666

In [99]:
id(x)

140606820152976

In [100]:
foo(x)

140606820152976

In [101]:
x = 42

In [102]:
id(x)

140606903256592

In [103]:
x += 1

In [104]:
id(x)

140606903256624

In [105]:
x = 42

In [106]:
id(x)

140606903256592

In [107]:
x = 1234

In [108]:
y = 1234

In [109]:
x is y

False

In [110]:
id(x)

140606820152368

In [111]:
id(y)

140606820154480

**Memory Management**

In [112]:
abc = 666

In [113]:
del abc

In [114]:
try:
    abc
except Exception as e:
    print(e, type(e))

name 'abc' is not defined <class 'NameError'>

In [115]:
f = open('/etc/passwd')

In [116]:
f.close()

In [117]:
with open('/etc/passwd') as f:
    print(len(list(f)))

48

## Compound Datatypes

### List, Tuple

In [118]:
l = [1,2,'drei']

In [119]:
len(l)

3

In [120]:
l.append(4)

In [121]:
len(l)

4

In [122]:
l

[1, 2, 'drei', 4]

In [123]:
l1 = [5, 'sechs']

In [124]:
l.extend(l1)

In [125]:
l

[1, 2, 'drei', 4, 5, 'sechs']

In [126]:
l.append(l1)

In [127]:
l

[1, 2, 'drei', 4, 5, 'sechs', [5, 'sechs']]

In [128]:
l.reverse()

In [129]:
l

[[5, 'sechs'], 'sechs', 5, 4, 'drei', 2, 1]

In [130]:
l += l1

In [131]:
l

[[5, 'sechs'], 'sechs', 5, 4, 'drei', 2, 1, 5, 'sechs']

In [132]:
t = (1,2,'drei')

In [133]:
try:
    t.append(4.0)
except Exception as e:
    print(e, type(e))

'tuple' object has no attribute 'append' <class 'AttributeError'>

In [134]:
t1 = (5, 'sechs')

In [135]:
id(t)

140606390146112

In [136]:
t += t1

In [137]:
id(t)

140606847679632

**The `in`` operator**

In [138]:
l = [3,4,1,'fuenf']

In [139]:
3 in l

True

In [140]:
5 not in l

True

In [141]:
not 5 in l

True

In [142]:
'fuenf' in l

True

In [143]:
6 in l

False

### Dictionary

In [144]:
d = {'one': 1, 'two': 2, 3: 'three'}

In [145]:
d['one']

1

In [146]:
try:
    d['three']
except Exception as e:
    print(e, type(e))

'three' <class 'KeyError'>

In [147]:
'three' in d

False

In [148]:
value = d.get('three')

In [149]:
print(value)

None

In [150]:
d['three'] = 3

In [151]:
'three' in d

True

In [152]:
del d['three']

In [153]:
'three' in d

False

In [154]:
d

{'one': 1, 'two': 2, 3: 'three'}

### Set

In [155]:
s = {1,2,'drei'}

In [156]:
s.add(4.0)

In [157]:
s.remove('drei')

In [158]:
2 in s

True

In [159]:
l = [1,2,3]

In [160]:
s.add(l)

TypeError: unhashable type: 'list'

In [162]:
i = 42
i.__hash__()

42

In [163]:
i = 1234567876543234567654321234565432123456
i.__hash__()

1561532913669633504

In [164]:
s.add((1,2,3))