# Python Basics (2023-12-18 - 2023-12-20)

In [1]:
for i in range(5):
    print(i)
    print(i+2)
print('habe fertig')

0
2
1
3
2
4
3
5
4
6
habe fertig

was jetzt geschehen wird

In [2]:
j = 42

In [3]:
j

42

In [4]:
type(j)

int

In [5]:
try:
    a
except Exception as e:
    print(type(e), e)

<class 'NameError'> name 'a' is not defined

In [6]:
type(j)

int

In [7]:
j = [1, 2, 3]

In [8]:
type(j)

list

In [9]:
j = 42.45

In [10]:
type(j)

float

In [11]:
translation_table = {
    'one': 1,
    'two': 2,
}

In [12]:
translation_table['one']

1

In [13]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [14]:
if 1 == '1':
    print('ja')
else:
    print('nein')

nein

In [15]:
def max(a, b):
    '''
    das ist eine hochkomplexe blah
    blah
    bla

    '''
    return a + b

In [16]:
max(1, 2)

3

In [17]:
max.__doc__

'\n    das ist eine hochkomplexe blah\n    blah\n    bla\n\n    '

In [18]:
help(max)

Help on function max in module __main__:

max(a, b)
    das ist eine hochkomplexe blah
    blah
    bla

In [19]:
type(max)

function

In [20]:
type(j)

float

In [21]:
j = max

In [22]:
type(j)

function

In [23]:
j(1, 2)

3

In [24]:
import sys

In [25]:
sys.argv

['/home/jfasch/venv/jfasch-home/lib64/python3.10/site-packages/ipykernel_launcher.py',
 '-f',
 '/home/jfasch/.local/share/jupyter/runtime/kernel-98f8b9be-ad8f-4023-81a2-d1dc67d0282c.json']

In [26]:
sys.platform

'linux'

In [27]:
sys.path

['/home/jfasch/work/jfasch-home/trainings/log/detail/2023-12-18--Python-Basics',
 '/usr/lib64/python310.zip',
 '/usr/lib64/python3.10',
 '/usr/lib64/python3.10/lib-dynload',
 '',
 '/home/jfasch/venv/jfasch-home/lib64/python3.10/site-packages',
 '/home/jfasch/venv/jfasch-home/lib/python3.10/site-packages',
 '/home/jfasch/venv/jfasch-home/lib64/python3.10/site-packages/IPython/extensions',
 '/home/jfasch/.ipython']

In [28]:
type(sys)

module

In [29]:
sys = 666

In [30]:
try:
    sys.argv
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'int' object has no attribute 'argv'

## Variables

In [31]:
a = 42

In [32]:
type(a)

int

In [33]:
a = 1.5

In [34]:
type(a)

float

In [35]:
a = ['blah', 1.5]

In [36]:
type(a)

list

In [37]:
a, b, c = 1, 'eins', 1.0

In [38]:
a

1

In [39]:
b

'eins'

In [40]:
c

1.0

In [41]:
a, b = 1, 2

In [42]:
a

1

In [43]:
b

2

In [44]:
tmp = a

In [45]:
a = b

In [46]:
b = tmp

In [47]:
a

2

In [48]:
b

1

In [49]:
a, b = 1, 2

In [50]:
a, b = b, a

In [51]:
a

2

In [52]:
b

1

In [53]:
(a, b) = (b, a)

In [54]:
a = 42

In [55]:
id(a)

139656526186000

In [56]:
hex(id(a))

'0x7f0451a24610'

In [57]:
b = a

In [58]:
id(b)

139656526186000

In [59]:
id(a) == id(b)

True

In [60]:
a is b

True

## Datatypes

### Integers

In [61]:
i = 42

In [62]:
i = -42

In [63]:
i = 2**64-1

In [64]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [65]:
len(bin(i))

66

In [66]:
i += 1

In [67]:
len(bin(i))

67

In [68]:
bin(i)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [69]:
i

18446744073709551616

In [70]:
i += 2**100

In [71]:
bin(i)

'0b10000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000'

In [72]:
1_000_000

1000000

In [73]:
3/2

1.5

In [74]:
3//2

1

In [75]:
3//2

1

In [76]:
3%2

1

In [77]:
16/4

4.0

In [78]:
16%4

0

In [79]:
17%4

1

In [80]:
2**3

8

In [81]:
(3**2)-1

8

### Datatype Conversion

In [82]:
i = 42

In [83]:
j = 42.666

In [84]:
i = j

In [85]:
i

42.666

In [86]:
i = 42

In [87]:
s = 'abc'

In [88]:
type(s)

str

In [89]:
i

42

In [90]:
s = str(i)

In [91]:
s

'42'

In [92]:
j = int(s)

In [93]:
j

42

In [94]:
try:
    int('abc')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'abc'

In [95]:
int('abc', 16)

2748

In [96]:
try:
    int('42.666')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: '42.666'

In [97]:
float('42.666')

42.666

In [98]:
s = 'abc'

In [99]:
if type(s) is str:
    print('jo')

jo

In [100]:
d = {
    'one': 1,
    'two': 2,
    'three': 3,
}

In [101]:
str(d)

"{'one': 1, 'two': 2, 'three': 3}"

In [102]:
int('12345', 7)

3267

## Compound Datatypes

### List

In [103]:
l = [1, 2, 3]

In [104]:
l

[1, 2, 3]

In [105]:
len(l)

3

In [106]:
l.append('vier')

In [107]:
l

[1, 2, 3, 'vier']

In [108]:
l.append(5.0)

In [109]:
l

[1, 2, 3, 'vier', 5.0]

In [110]:
l.append([6, 7, 'acht'])

In [111]:
len(l)

6

In [112]:
l

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht']]

In [113]:
l.append(l)

In [114]:
len(l)

7

In [115]:
l

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht'], [...]]

In [116]:
l[0]

1

In [117]:
l[6]

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht'], [...]]

In [118]:
l[-1]

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht'], [...]]

In [119]:
l[-2]

[6, 7, 'acht']

In [120]:
l[4]

5.0

In [121]:
l[-3]

5.0

In [122]:
del l[-1]

In [123]:
l

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht']]

In [124]:
l.extend([10, 20, 30])

In [125]:
l

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht'], 10, 20, 30]

In [126]:
try:
    l.sort()
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'str' and 'int'

In [127]:
l

[1, 2, 3, 'vier', 5.0, [6, 7, 'acht'], 10, 20, 30]

In [128]:
l1 = [1, 2, 3]

In [129]:
l1.extend([4, 5, 6])

In [130]:
l1

[1, 2, 3, 4, 5, 6]

In [131]:
l1.extend(l1)

In [132]:
l1

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [133]:
l1.sort()

In [134]:
l1

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]

In [135]:
l1 = [1,2,3]

In [136]:
l1

[1, 2, 3]

In [137]:
l2 = [3, 4, [5, 6, 7]]

In [138]:
l1.extend(l2)

In [139]:
l1

[1, 2, 3, 3, 4, [5, 6, 7]]

In [140]:
l2[-1]

[5, 6, 7]

In [141]:
l2[-1].append(666)

In [142]:
l2

[3, 4, [5, 6, 7, 666]]

In [143]:
l1

[1, 2, 3, 3, 4, [5, 6, 7, 666]]

In [144]:
l = [3, 1, 2, 4, 5, 88, 42]

In [145]:
3 in l

True

In [146]:
2 in l

True

In [147]:
666 in l

False

### Tuple

In [148]:
l = [1, 2, 3]

In [149]:
id(l)

139656164272768

In [150]:
l.append(4)

In [151]:
id(l)

139656164272768

In [152]:
i = 42

In [153]:
id(i)

139656526186000

In [154]:
i += 1

In [155]:
i

43

In [156]:
id(i)

139656526186032

In [157]:
t = (1, 2, 3)

In [158]:
try:
    t.append(4)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

In [159]:
t[1]

2

In [160]:
try:
    t[1] += 5
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'tuple' object does not support item assignment

In [161]:
t = (1, 2, [3, 4])

In [162]:
t[2]

[3, 4]

In [163]:
t[2].append(666)

In [164]:
t

(1, 2, [3, 4, 666])

In [165]:
try:
    t[0] = 7
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'tuple' object does not support item assignment

### Dictionary

In [166]:
d = {
    'one': 1,
    'two': 2,
}

In [167]:
d['one']

1

In [168]:
try:
    d['three']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'three'

In [169]:
d['three'] = 3

In [170]:
'three' in d

True

In [171]:
d1 = {
    'three': 33,
    'four': 'vier'
}

In [172]:
d.update(d1)

In [173]:
d

{'one': 1, 'two': 2, 'three': 33, 'four': 'vier'}

In [174]:
d = {}

In [175]:
type(d)

dict

In [176]:
d = dict()

In [177]:
type(d)

dict

### Set

In [178]:
menge = {1, 2, 3}

In [179]:
menge.add(4)

In [180]:
menge.add('fuenf')

In [181]:
menge

{1, 2, 3, 4, 'fuenf'}

In [182]:
menge.remove(2)

In [183]:
menge

{1, 3, 4, 'fuenf'}

In [184]:
4 in menge

True

In [185]:
menge.add(5)

In [186]:
menge

{1, 3, 4, 5, 'fuenf'}

In [187]:
menge.remove(5)

In [188]:
menge

{1, 3, 4, 'fuenf'}

In [189]:
m1 = {1, 2, 3, 4}

In [190]:
m2 = {3, 4, 5, 6}

In [191]:
m1 | m2

{1, 2, 3, 4, 5, 6}

In [192]:
m1 & m2

{3, 4}

In [193]:
m1 - m2

{1, 2}

In [194]:
m2 - m1

{5, 6}

In [195]:
type(m2)

set

In [196]:
3 in m1

True

In [197]:
leeres_set = set()

### Boolean

In [198]:
b = True

In [199]:
type(b)

bool

In [200]:
i = 666

In [201]:
bool(i)

True

In [202]:
bool(0)

False

In [203]:
bool('')

False

In [204]:
l = []
len(l)

0

In [205]:
bool(l)

False

In [206]:
l = None

In [207]:
type(l)

NoneType

In [208]:
l = []

In [209]:
if l:
    print('jo')
else:
    print('na')

na

In [210]:
if len(l):
    print('jo')
else:
    print('na')

na

In [211]:
if len(l) == 0:
    print('jo')
else:
    print('na')

jo

### Weirdness (Comprehensions)

#### List Comprehension

In [212]:
numbers = [0, 1, 2, 3, 4, 5]

In [213]:
squares = []
for n in numbers:
    squares.append(n**2)

In [214]:
squares

[0, 1, 4, 9, 16, 25]

In [215]:
[n**2 for n in numbers]

[0, 1, 4, 9, 16, 25]

#### Dictionary Comprehension (Exchange key and Value of dict)

In [216]:
d = {'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [217]:
for k in d.keys():
    print(d[k])

0
1
2
3
4
5
6
7
8
9

In [218]:
for v in d.values():
    print(v)

0
1
2
3
4
5
6
7
8
9

In [219]:
for item in d.items():
    print(item)

('zero', 0)
('one', 1)
('two', 2)
('three', 3)
('four', 4)
('five', 5)
('six', 6)
('seven', 7)
('eight', 8)
('nine', 9)

In [220]:
for item in d.items():
    k = item[0]
    v = item[1]
    print(k, v)

zero 0
one 1
two 2
three 3
four 4
five 5
six 6
seven 7
eight 8
nine 9

In [221]:
for k, v in d.items():
    print(k, v)

zero 0
one 1
two 2
three 3
four 4
five 5
six 6
seven 7
eight 8
nine 9

In [222]:
d_reversed = {}

In [223]:
for k, v in d.items():
    d_reversed[v] = k

In [224]:
d_reversed

{0: 'zero',
 1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine'}

In [225]:
d_reversed = {v:k for k, v in d.items()}

In [226]:
d_reversed

{0: 'zero',
 1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine'}

#### Functional Programming

In [227]:
l = [0, 1, 2, 3, 4, 5]

In [228]:
def square(n):
    return n**2

In [229]:
for s in map(square, l):
    print(s)

0
1
4
9
16
25

In [230]:
for s in map(lambda n: n**2, l):
    print(s)

0
1
4
9
16
25

In [231]:
for s in filter(lambda n: n%2==0, l):
    print(s)

0
2
4

In [232]:
d

{'zero': 0,
 'one': 1,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'six': 6,
 'seven': 7,
 'eight': 8,
 'nine': 9}

In [233]:
l1 = [1, 2, 3]
l2 = ['one', 'two', 'three']

In [234]:
for elem in zip(l1, l2):
    print(elem)

(1, 'one')
(2, 'two')
(3, 'three')

In [235]:
for elem in zip(d.keys(), d.values()):
    print(elem)

('zero', 0)
('one', 1)
('two', 2)
('three', 3)
('four', 4)
('five', 5)
('six', 6)
('seven', 7)
('eight', 8)
('nine', 9)

In [236]:
for elem in zip(d.values(), d.keys()):
    print(elem)

(0, 'zero')
(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')
(5, 'five')
(6, 'six')
(7, 'seven')
(8, 'eight')
(9, 'nine')

In [237]:
{v: k for v, k in zip(d.values(), d.keys())}

{0: 'zero',
 1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine'}

In [238]:
l = [(1, 'one'), (2, 'two')]

In [239]:
dict(l)

{1: 'one', 2: 'two'}

In [240]:
dict(zip(d.values(), d.keys()))

{0: 'zero',
 1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine'}

#### ``set()``, ``list()``, ``dict()``

In [241]:
l = [2, 4, 10, 9, 1]

In [242]:
s = set(l)

In [243]:
s

{1, 2, 4, 9, 10}

In [244]:
list(s)

[1, 2, 4, 9, 10]

In [245]:
s1 = {2, 3, 4}
s2 = {4, 5, 6}

In [246]:
s1 - s2

{2, 3}

In [247]:
set(s1|s2)

{2, 3, 4, 5, 6}

In [248]:
set(s1 - s2)

{2, 3}

In [249]:
diff = s1 - s2

In [250]:
diff

{2, 3}

In [251]:
set(diff)

{2, 3}

## ``while`` (and ``else``)

Summe von 1..100 (beide inklusive)

In [252]:
summe = 0
n = 1
while n <= 100:
    summe += n
    n += 1
print(summe)

5050

In [255]:
sum(range(1, 101))     # <--- pythonic

5050

In [257]:
int(100*101/2)

5050

In [259]:
import random

In [280]:
while True:
    eyes = random.randrange(1, 7)
    if eyes == 6:
        print('yaay')
        break
    else:
        print('lose', eyes)

lose 1
lose 2
lose 3
lose 3
lose 4
lose 5
lose 5
lose 1
lose 4
lose 2
lose 5
lose 5
lose 4
lose 3
lose 2
lose 1
lose 4
lose 5
lose 2
lose 4
lose 5
lose 5
lose 3
lose 4
lose 1
yaay

In [290]:
n_tries = 0
while n_tries < 8:
    eyes = random.randrange(1, 7)
    if eyes == 6:
        print('yaay')
        break
    else:
        print('lose in versuch', n_tries, ',', eyes)
    n_tries += 1
else:
    print('kompletter lose')

lose in versuch 0 , 4
yaay