# Python (2022-11-16 - 2022-11-18)

## Object Oriented

In [1]:
print('Hello World')

Hello World

In [2]:
a = 42

In [3]:
print(type(a))

<class 'int'>

In [4]:
import sys
sys.getsizeof(a)

28

In [5]:
print(type(print))

<class 'builtin_function_or_method'>

In [6]:
print(type(type))

<class 'type'>

In [7]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
class Person:
    '''Some pointless and repetitive implementation of
    yet another Person class (for didactical purposes only)'''
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [10]:
joerg = Person('Joerg', 'Faschingbauer')

In [11]:
type(joerg)

__main__.Person

In [12]:
joerg.firstname

'Joerg'

In [13]:
joerg.fullname()

'Joerg Faschingbauer'

In [14]:
Person

__main__.Person

In [15]:
type(Person)

type

In [16]:
Person.__name__

'Person'

In [17]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fullname']

In [18]:
Person.__doc__

'Some pointless and repetitive implementation of\n    yet another Person class (for didactical purposes only)'

In [19]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(firstname, lastname)
 |
 |  Some pointless and repetitive implementation of
 |  yet another Person class (for didactical purposes only)
 |
 |  Methods defined here:
 |
 |  __init__(self, firstname, lastname)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fullname(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## Integers

In [20]:
i = 666

In [21]:
type(i)

int

In [22]:
i = 2**64 - 1

In [23]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [24]:
len(bin(i))

66

In [25]:
i += 1

In [26]:
i

18446744073709551616

In [27]:
bin(i)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [28]:
len(bin(i))

67

In [29]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [30]:
a = 42

In [31]:
a

42

In [32]:
a == 42

True

In [33]:
if a == 42:
    print('hurra')

hurra

## Strings

In [34]:
s = 'abc'
s

'abc'

In [35]:
s = "abc"
s

'abc'

In [36]:
s = 'ab"c'
s

'ab"c'

In [37]:
s = "ab'c"
s

"ab'c"

In [38]:
s = "ab\"'c"
s

'ab"\'c'

In [39]:
s = 'ab"\'c'
s

'ab"\'c'

In [40]:
s = """
erste zeile
zweite zeile
"""
s

'\nerste zeile\nzweite zeile\n'

## Datatype Conversions

In [41]:
round(12.9)

13

In [42]:
round(12.1)

12

In [43]:
try:
    int('abc')
except ValueError as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [44]:
int('abc', 16)

2748

In [45]:
try:
    int('abc')
except BaseException as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [46]:
try:
    int('abc')
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'abc'

## Lists and Tuples

In [47]:
l = [1,2,'drei']
l

[1, 2, 'drei']

In [48]:
len(l)

3

In [49]:
l.append(4.0)
l

[1, 2, 'drei', 4.0]

In [50]:
andere_liste = [5, 6, 7]

In [51]:
neue_liste = l + andere_liste
neue_liste

[1, 2, 'drei', 4.0, 5, 6, 7]

In [52]:
l

[1, 2, 'drei', 4.0]

In [53]:
andere_liste

[5, 6, 7]

In [54]:
l += andere_liste
l

[1, 2, 'drei', 4.0, 5, 6, 7]

In [55]:
l.append([8,9,10])
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10]]

In [56]:
l.extend([11,12,13,14])
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [57]:
l[2]

'drei'

In [58]:
del l[2]

In [59]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [60]:
5 in l

True

In [61]:
14 in l

True

In [62]:
666 in l

False

In [63]:
t = (1,2,3)
t

(1, 2, 3)

In [64]:
t[2]

3

In [65]:
len(t)

3

In [66]:
try:
    t.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

## Dictionary

In [67]:
d = {1:'one', 2:'two'}

In [68]:
1 in d

True

In [69]:
d[1]

'one'

In [70]:
try:
    d[3]
except KeyError as e:
    print(e)

3

In [71]:
d[3] = 'drei'
d

{1: 'one', 2: 'two', 3: 'drei'}

In [72]:
del d[1]
d

{2: 'two', 3: 'drei'}

In [73]:
for elem in d:
    print(elem)

2
3

In [74]:
for elem in d.keys():
    print(elem)

2
3

In [76]:
for elem in d.values():
    print(elem)

two
drei

In [77]:
for elem in d.items():
    print(elem)

(2, 'two')
(3, 'drei')

In [78]:
for key, value in d.items():
    print(key, value)

2 two
3 drei

## Set

In [80]:
s = {1,2,3}
s

{1, 2, 3}

In [81]:
1 in s

True

In [83]:
666 in s

False

In [85]:
for elem in s:
    print(elem)

1
2
3

In [86]:
s.add('vier')
s

{1, 2, 3, 'vier'}

In [87]:
s.remove(3)

## ``for``, and Iteration, and Generators

In [89]:
l = [1,2,3,4]
for elem in l:
    print(elem)

1
2
3
4

In [90]:
for elem in range(1,5):
    print(elem)

1
2
3
4

In [92]:
d = {'one': 1, 'two': 2}
for elem in d:
    print(elem)

one
two

In [94]:
for elem in d.keys():
    print(elem)

one
two

In [96]:
for elem in d.values():
    print(elem)

1
2

In [98]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)

In [99]:
for elem in d.items():
    key = elem[0]
    value = elem[1]
    print(f'Key={key}, Value={value}')

Key=one, Value=1
Key=two, Value=2

In [101]:
f = open('/etc/passwd')
for line in f:
    print(line)

root:x:0:0:root:/root:/bin/bash

bin:x:1:1:bin:/bin:/sbin/nologin

daemon:x:2:2:daemon:/sbin:/sbin/nologin

adm:x:3:4:adm:/var/adm:/sbin/nologin

lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin

sync:x:5:0:sync:/sbin:/bin/sync

shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

halt:x:7:0:halt:/sbin:/sbin/halt

mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

operator:x:11:0:operator:/root:/sbin/nologin

games:x:12:100:games:/usr/games:/sbin/nologin

ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin

nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin

dbus:x:81:81:System message bus:/:/sbin/nologin

apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin

tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin

systemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin

systemd-oom:x:999:999:systemd Userspace OOM Killer:/:/usr/sbin/nologin

systemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin

qemu:x:107:107:qemu user:/:/sbin/nologin

polkitd:x:998:997:User for polkitd:/:/sbin/nologin

avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin

unbound:x:997:995:Unbound DNS resolver:/etc/unbound:/sbin/nologin

nm-openconnect:x:996:994:NetworkManager user for OpenConnect:/:/sbin/nologin

geoclue:x:995:993:User for geoclue:/var/lib/geoclue:/sbin/nologin

usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin

gluster:x:994:992:GlusterFS daemons:/run/gluster:/sbin/nologin

rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin

chrony:x:993:990::/var/lib/chrony:/sbin/nologin

saslauth:x:992:76:Saslauthd user:/run/saslauthd:/sbin/nologin

dnsmasq:x:991:989:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin

rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin

colord:x:990:988:User for colord:/var/lib/colord:/sbin/nologin

rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin

openvpn:x:989:987:OpenVPN:/etc/openvpn:/sbin/nologin

nm-openvpn:x:988:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin

pipewire:x:987:985:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin

abrt:x:173:173::/etc/abrt:/sbin/nologin

flatpak:x:986:983:User for flatpak system helper:/:/sbin/nologin

gdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/sbin/nologin

gnome-initial-setup:x:985:982::/run/gnome-initial-setup/:/sbin/nologin

vboxadd:x:984:1::/var/run/vboxadd:/sbin/nologin

sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin

tcpdump:x:72:72::/:/sbin/nologin

jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash

systemd-coredump:x:978:978:systemd Core Dumper:/:/usr/sbin/nologin

systemd-timesync:x:977:977:systemd Time Synchronization:/:/usr/sbin/nologin

mosquitto:x:976:976:Mosquitto Broker:/etc/mosquitto:/sbin/nologin

In [104]:
for elem in range(3):
    print(elem)

0
1
2

In [106]:
r = range(3)
type(r)

range

In [109]:
r = range(10**1000)
r

range(0, 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000)

In [110]:
r = range(3)
r

range(0, 3)

In [112]:
for elem in r:
    print(elem)

0
1
2

### Iterator Protocol

In [113]:
r = range(3)

In [114]:
it = iter(r)

In [116]:
type(it)

range_iterator

In [117]:
next(it)

0

In [118]:
next(it)

1

In [119]:
next(it)

2

In [121]:
try:
    next(it)
except StopIteration:
    pass

## ``enumerate()``

In [122]:
names = ['Joerg', 'Caro', 'Johanna', 'Philipp']
for name in names:
    print(name)

Joerg
Caro
Johanna
Philipp

In [123]:
for i in range(len(names)):
    print(i, names[i])

0 Joerg
1 Caro
2 Johanna
3 Philipp

In [125]:
i = 0
while i < len(names):
    print(i, names[i])
    i += 1

0 Joerg
1 Caro
2 Johanna
3 Philipp

In [127]:
for elem in enumerate(names):
    print(elem)

(0, 'Joerg')
(1, 'Caro')
(2, 'Johanna')
(3, 'Philipp')

In [129]:
for i, name in enumerate(names):
    print(i, name)

0 Joerg
1 Caro
2 Johanna
3 Philipp

## Lists, Dictionaries, Generators, Constructors

In [132]:
for i in range(3):
    print(i)

0
1
2

In [135]:
l = []
for i in range(3):
    l.append(i)
l

[0, 1, 2]

In [136]:
list(range(3))

[0, 1, 2]

In [138]:
for i in 'abc':
    print(i)

a
b
c

In [139]:
list('abc')

['a', 'b', 'c']

In [141]:
d = {'one': 1, 'two': 2}
for elem in d:
    print(elem)

one
two

In [142]:
list(d)

['one', 'two']

In [144]:
l = [('one', 1), ('two', 2)]
for k, v in l:
    print(k, v)

one 1
two 2

In [145]:
dict(l)

{'one': 1, 'two': 2}

## Slicing

In [146]:
text = 'Hello World'
text[-1:-5]

''

In [148]:
for i in range(0,7,2):
    print(i)

0
2
4
6

## References, (Im)mutability

In [149]:
a = 42
b = a

In [150]:
id(a)

140638657021456

In [151]:
id(b)

140638657021456

In [152]:
a += 1
a

43

In [153]:
b

42

In [154]:
id(a)

140638657021488

In [155]:
a += 1
id(a)

140638657021520

### And Lists? Mutable!

In [156]:
l1 = [1,2,3]
l2 = l1
l2

[1, 2, 3]

In [157]:
l1.append(4)
l1

[1, 2, 3, 4]

In [158]:
l2

[1, 2, 3, 4]

### Tuples?

In [159]:
t1 = (1,2,3)
t2 = t1

In [160]:
id(t1)

140638574183616

In [161]:
id(t2)

140638574183616

In [164]:
try:
    t1.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

In [165]:
try:
    del t[1]
except TypeError as e:
    print(e)

'tuple' object doesn't support item deletion

### Strings

In [166]:
s1 = 'abc'
s2 = s1
id(s1)

140638656199536

In [168]:
id(s2)

140638656199536

In [169]:
s1 += 'def'
id(s1)

140638505955888

In [170]:
s2

'abc'

### ``set``

In [171]:
s1 = {1,2,3}
s2 = s1
id(s1) == id(s2)

True

In [172]:
s1.add(4)
s1

{1, 2, 3, 4}

In [173]:
s2

{1, 2, 3, 4}

In [175]:
s1 = frozenset((1,2,3))
s1

frozenset({1, 2, 3})

In [178]:
try:
    s1.add(4)
except AttributeError as e:
    print(e)

'frozenset' object has no attribute 'add'

In [179]:
s2 = set(s1)
s2.add(4)

## Functions

In [180]:
a, b = [1,2]
a

1

In [181]:
b

2

In [182]:
def f():
    return 1, 2
i, j = f()

In [183]:
i

1

In [184]:
j

2

In [185]:
def f():
    return (1,2)
(i, j) = f()

In [186]:
def maximum(a, b):
    if a < b:
        return b
    return a

In [187]:
maximum

In [189]:
type(maximum)

function

In [193]:
a = maximum
a(1,2)

2

In [194]:
maximum.__name__

'maximum'

In [195]:
dir(maximum)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [196]:
def greet(who, phrase='Grüß Gott'):
    print(phrase, who)

In [197]:
greet('Jörg')

Grüß Gott Jörg

In [198]:
greet('Jörg', 'Seas')

Seas Jörg

In [199]:
def f(x=[]):
    print(x)

In [200]:
f()

[]

In [201]:
f([1,2,3])

[1, 2, 3]

In [202]:
def f(x=[]):
    x.append(42)
    print(x)

In [203]:
f()

[42]

In [204]:
f()

[42, 42]

In [209]:
f.__defaults__

([42, 42],)

## Strings

In [211]:
s = 'abc'
s

'abc'

In [212]:
s = "abc"
s

'abc'

In [214]:
s = 'abc"def'
s

'abc"def'

In [215]:
s = "abc'def"
s

"abc'def"

In [217]:
s = 'abc"\'def'
s

'abc"\'def'

In [219]:
print(s)

abc"'def

In [220]:
s = 'erste zeile\nzweite zeile'
s

'erste zeile\nzweite zeile'

In [221]:
print(s)

erste zeile
zweite zeile

In [222]:
s = 'abc\tdef'
print(s)

abc	def

In [223]:
doze_path = 'C:\Programme\nocheinprogramm'
print(doze_path)

C:\Programme
ocheinprogramm

In [224]:
doze_path = 'C:\\Programme\\nocheinprogramm'
print(doze_path)

C:\Programme\nocheinprogramm

In [225]:
doze_path = r'C:\Programme\nocheinprogramm'
print(doze_path)

C:\Programme\nocheinprogramm

### Regular Expressions

In [226]:
line = '     dfghgfdfghj.  123   .   '

In [227]:
line = 'jhghgh   .123.   '

In [228]:
import re

In [229]:
matchstr = r'^\s*([a-z]+)\s*\.\s*(\d+)\s*\.\s*$'

In [230]:
compiled_match = re.compile(matchstr)

In [232]:
match = compiled_match.search('jhghgh   .123.   ')

In [234]:
match.group(1)

'jhghgh'

In [236]:
int(match.group(2))

123

### Miscellaneous String Methods

In [237]:
s = '123'
s.isdigit()

True

In [238]:
s = '    \t   \r\n'
s.isspace()

True

In [239]:
s = 'abc'
s.isalpha()

True

In [240]:
s.islower()

True

In [243]:
s.upper()

'ABC'

In [244]:
s = s.upper()

In [245]:
s

'ABC'

In [246]:
s.lower()

'abc'

In [247]:
s = 'a'
s.isidentifier()

True

In [249]:
s = '_a'
s.isidentifier()

True

In [250]:
s = 'abc'
s.capitalize()

'Abc'

In [251]:
s.center(50)

'                       abc                        '

In [252]:
s = 'mississippi'
s.count('ss')

2

In [253]:
s = 'ein.csv'
s.endswith('.csv')

True

In [254]:
s = '\tprint("hallo")'
s.expandtabs(4)

'    print("hallo")'

In [255]:
s = 'mississippi'
s.find('ss')

2

In [256]:
num_ss = 0
pos = 0
while True:
    pos = s.find('ss', pos)
    if pos == -1:
        break
    num_ss += 1
    pos += 1
print('ss gefunden:', num_ss)

ss gefunden: 2

In [257]:
s

'mississippi'

In [258]:
s.index('ss')

2

In [260]:
try:
    s.index('xyz')
except ValueError as e:
    print(e)

substring not found

In [261]:
items = ['Joerg', 'Caro', 'Philipp', 'Johanna', 'Isi']
','.join(items)

'Joerg,Caro,Philipp,Johanna,Isi'

In [262]:
line = ','.join(items)
line

'Joerg,Caro,Philipp,Johanna,Isi'

In [263]:
line.split(',')

['Joerg', 'Caro', 'Philipp', 'Johanna', 'Isi']

In [264]:
line = '     dfghgfdfghj.  123   .   '

In [265]:
items = line.split('.')
items

['     dfghgfdfghj', '  123   ', '   ']

In [270]:
strippeditems = []
for item in items:
    strippeditems.append(item.strip())
strippeditems

['dfghgfdfghj', '123', '']

In [271]:
strippeditems = [item.strip() for item in items]
items

['dfghgfdfghj', '123', '']

## More About Lists

In [272]:
l =  [3, 2, 5]

In [273]:
l.append(5)

In [274]:
l

[3, 2, 5, 5]

In [275]:
l1 = ['noch', 'was']

In [276]:
l.extend(l1)
l

[3, 2, 5, 5, 'noch', 'was']

In [277]:
l.append(l1)

In [278]:
l

[3, 2, 5, 5, 'noch', 'was', ['noch', 'was']]

In [280]:
try:
    l.sort()
except TypeError as e:
    print(e)

'<' not supported between instances of 'str' and 'int'

In [281]:
l = [4, 1, 6, 666, 42]

In [282]:
l.sort()

In [283]:
l

[1, 4, 6, 42, 666]

In [284]:
l = [4, 1, 6, 666, 42]

In [286]:
sorted(l)

[1, 4, 6, 42, 666]

In [287]:
l.reverse()

In [288]:
l

[42, 666, 6, 1, 4]

In [290]:
list(reversed(l))

[4, 1, 6, 666, 42]

In [291]:
666 in l

True

## More About Dictionaries

In [293]:
d = {}

In [294]:
type(d)

dict

In [295]:
d = dict()

In [297]:
d

{}

In [298]:
d['one'] = 1
d['two'] = 2

In [299]:
d

{'one': 1, 'two': 2}

In [300]:
d = {'one': 1, 'two': 2}

In [301]:
d['one']

1

In [302]:
d['three'] = 3

In [303]:
d['three']

3

In [306]:
try:
    d['four']
except KeyError as e:
    print(e)

'four'

In [307]:
d.get('three')

3

In [309]:
value = d.get('four')
print(value)

None

In [310]:
value = d.get('four')
if value is None:
    d['four'] = 4
else:
    print(value)

In [311]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [312]:
value = d.get('five', 5)
value

5

In [314]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [316]:
value = d.setdefault('five', 5)
value

5

In [318]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [319]:
other_d = {'hundred': 100, 'thousand': 1000}

In [320]:
d.update(other_d)

In [321]:
d

{'one': 1,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'hundred': 100,
 'thousand': 1000}

In [322]:
yet_another_d = {'thousand': 1, 'one': 1000}

In [323]:
d.update(yet_another_d)
d

{'one': 1000,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'hundred': 100,
 'thousand': 1}

## More About Sets

In [324]:
s = set()

In [326]:
s

set()

In [327]:
s = {1, 2, 3}

In [328]:
3 in s

True

In [329]:
3 not in s

False

In [330]:
4 not in s

True

In [331]:
s.add(4)

In [332]:
4 in s

True

In [333]:
s.remove(2)

In [335]:
2 in s

False

In [336]:
s == s

True

In [337]:
s

{1, 3, 4}

In [338]:
s1 = {1,2,3}
s2 = {3,1,2}
s1 == s2

True

In [339]:
s3 = {1,2,3,4}

In [340]:
s1 == s3

False

In [341]:
s1 < s3

True

In [342]:
s3 > s1

True

In [343]:
s4 = {1000, 2000}

In [344]:
s1.isdisjoint(s4)

True

## Comprehensions (List, Dictionary, Set)

### List

In [347]:
squares = []
for num in range(5):
    squares.append(num**2)

In [348]:
for sq in squares:
    print(sq)

0
1
4
9
16

In [349]:
for sq in [num**2 for num in range(5)]:
    print(sq)

0
1
4
9
16

In [351]:
for sq in [num**2 for num in range(10) if num%2==0]:
    print(sq)

0
4
16
36
64

### Dictionary

In [353]:
dict([('one', 1), ('two', 2)])

{'one': 1, 'two': 2}

In [354]:
squares = {}
for num in range(5):
    squares[num] = num**2

In [355]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [356]:
squares = {num: num**2 for num in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Set

In [357]:
squares = set()
for num in range(5):
    squares.add(num**2)
squares

{0, 1, 4, 9, 16}

In [358]:
squares = {num**2 for num in range(5)}
squares

{0, 1, 4, 9, 16}

### Generator Expressions

In [361]:
def squares(seq):
    squares = []
    for num in range(5):
        squares.append(num**2)
    return squares

In [362]:
for sq in squares(range(5)):
    print(sq)

0
1
4
9
16

In [363]:
def squares(seq):
    for num in range(5):
        yield num**2

In [364]:
for sq in squares(range(5)):
    print(sq)

0
1
4
9
16

In [365]:
for sq in [num**2 for num in range(5)]:
    print(sq)

0
1
4
9
16

In [367]:
for sq in (num**2 for num in range(5)):
    print(sq)

0
1
4
9
16